@using WebApplication9.Data.Repositories.InterfacesRepo;
@using WebApplication9.Data.Models;

@inject IUserLibraryRepository UserLibRepo;
@inject PageHrefService Pager;
@inject ISnackbar Snackbar;

<div class="text-center">
     <MudFab Color="MudBlazor.Color.Secondary" Icon="@Icons.Material.Filled.Favorite" Style="width:70%" Size="MudBlazor.Size.Small" IconSize="MudBlazor.Size.Small" Label="To library" Class="ma-2" OnClick="AddBookToLibrary"></MudFab>
</div>

@code {
    [Parameter] public Book Book { get; set; }
    [CascadingParameter(Name = "CurUser")] public IdentityUser User { get; set; }
    private string hrefBook = "/books/";

    private async Task AddBookToLibrary()
    {
        var library = await UserLibRepo.FirstOrDefault(i => i.UserId == User.Id);
        if (library.ReadProgresses.FirstOrDefault(i => i.Book == Book) != null) Snackbar.Add("You already have this book in ur library.", Severity.Error);
        else
        {
            Snackbar.Add("Book successfully added to ur library. Check it now!", Severity.Success);
            library.ReadProgresses.Add(new ReadProgress() { Book = Book, UserLibrary = library, CurrentBookPage = 1 });
            await UserLibRepo.SaveChangesAsync();
        }
    }
}
