@using WebApplication9.Data.Models;

<div class="col-lg-6 bg-white sp-col" style="float:none;margin:auto;font-family: 'Poppins', sans-serif;">
    <h2 class="h3 text-center mt-4 mb-4"><b>@Genre.Name</b></h2>
</div>

@code{
    [Parameter] public Genre Genre { get; set; }
}