<div class="col-sm-12 sp-col text-center">
    <img src="@GenreImageUrl" class="img-fluid rounded authorImgBorder shado" style="width: 530px;" alt="">
</div>
@code {
    [Parameter] public string GenreImageUrl { get; set; }
}