@page "/notfound"

<div class="image main">
    <img src="https://demo.phpjabbers.com/free-web-templates/book-online-store-website-template-86/images/banner-image-6-1920x500.jpg" class="imageHeader" alt="">
</div>
<br>
<br>
<div class="text-center">
    <h1 class="h1">PAGE NOT FOUND :(</h1>
    <img src="https://66.media.tumblr.com/tumblr_mcfqj603fq1rfjowdo1_500.gif" class="img-fluid" alt="">
</div>
