<div class="col-sm-12 sp-col text-center">
    <img src="@AuthorImageUrl" class="img-fluid rounded authorImgBorder shado" alt="">
</div>
@code {
    [Parameter] public string AuthorImageUrl { get; set; }
}
