@using WebApplication9.Data.Models;

@inherits LayoutComponentBase
@inject UserService UserService;
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @if (user != null)
        {
        <CascadingValue Name="CurUser" Value="user">
            @Body
        </CascadingValue>
        }
    </div>
</div>
<MudThemeProvider />
<MudDialogProvider FullWidth="true"
                   CloseButton="false"
                   DisableBackdropClick="true" />
<MudSnackbarProvider />

@code{
    private IdentityUser user;

    protected async override Task OnInitializedAsync()
    {
        user = await UserService.GetUser();
    }
}
