@typeparam TItem

<section class="tiles">
    @foreach (var item in ListOfItems)
    {
        @ItemTemplate(item);
    }
</section>

@code {

    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]

    public IEnumerable<TItem> ListOfItems { get; set; }
}
