@using WebApplication9.Pages.Helper_Components;


<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <LoginRedirect />
            </NotAuthorized>
            <Authorizing>
                <p>Just checking with the boss you can come in.</p>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <WebApplication9.Pages.Helper_Components.NotFoundPage />
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>