@page "/authors"

@using WebApplication9.Data


<h1 class="h1">Authors</h1>
<div class="image main">
    <img src="https://demo.phpjabbers.com/free-web-templates/book-online-store-website-template-86/images/banner-image-6-1920x500.jpg" class="img-fluid" alt="">
</div>




@code {

}
